body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif !important;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
.navbar-default{
  background-color: #fff !important;
}
.navbar-top-links {
  margin-right: 0 !important;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px !important;
}
.navbar-top-links li a {
  padding: 15px !important;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0 !important;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #e0e0e0;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #94142e;
}
.btn-success.btn-outline {
  color: #4a90e2;
}
.btn-info.btn-outline {
  color: #2ecc71;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #cc0033;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #fff !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #4a90e2;
}
.panel-green .panel-heading {
  border-color: #4a90e2;
  color: white;
  background-color: #4a90e2;
}
.panel-green a {
  color: #4a90e2;
}
.panel-green a:hover {
  color: #1f69c1;
}
.panel-red {
  border-color: #cc0033;
}
.panel-red .panel-heading {
  border-color: #cc0033;
  color: white;
  background-color: #cc0033;
}
.panel-red a {
  color: #cc0033;
}
.panel-red a:hover {
  color: #800020;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow a {
  color: #f0ad4e;
}
.panel-yellow a:hover {
  color: #df8a13;
}


nav{
  height: 110px;
  margin-bottom: 0;
}
.navbar-brand img{
  width: 70%; margin-left: 10%;
}

.sidebar{
  margin-top: 120px;
}
.downbar{
  width: 100%;
  height: 40px;
  position: absolute;
  top: 80px;
  background-color: #94142e;
}
.downbar-text{
  margin-left: 5%;
}
.downbar-text h3 {
  color: #fff;
  margin-top: 5px;
}

.Footer {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

/* Para ocultar el spinner en los campos de tipo number */
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

h1.page-header {
    font-size: 2.2em;
    margin-top: 10px;
}

.autoCompleteCont > div {
    width: 100%;
}
img{
  max-width: 100%;
}
label, p, table, .help-block{
    font-size: 12px;            
}
label{
  text-align: right;
  padding-top: 5px;
}
.panel-heading{
  position: relative;
}
.panel-heading p > i{
  position: absolute;
  top: 5px;
  right: 15px;
}
.panel-action-icons{
  position: absolute;
  top: 8px;
  right: 5px;
}
.panel-action-icons i{
  cursor: pointer;
  margin-right: 15px;
}
textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 84px;
  max-height: 84px;
}
.partida-container, .form-group > div{
  position: relative;
}
.hover-curtain{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(148,20,46);
  background-color: rgba(148,20,46,0.6);
  z-index: 999;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.partida-container:hover .hover-curtain{
  opacity: 1;
}
.form-group > div i{
  position: absolute;
  top: 7px;
  right: 22px;
}
.form-group > div i.fa-check-circle{
  color: green;
}
.form-group > div i.fa-times-circle{
  color: red;
}
input{
  padding-right: 28px !important;
}
